.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  color: #555;
}

.title-2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #222;
}

.cardEmail {
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  color: #333;
}

.contactLink {
  text-decoration: none;
  color: #0072b1;
  font-weight: 500;
  transition: 0.3s ease;
}

.contactLink:hover {
  text-decoration: underline;
}

.icon {
  font-size: 1.5rem;
  color: black;
}
