@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.header-container {
  margin: 3%;
}

.title-top {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.my-nav {
  display: flex;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5em;
}

.links-header {
  color: black;
  text-decoration: none;
}

.links-header:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links-container.open .nav-links {
    display: flex;
  }

  .burger {
    margin: 2%;
    display: flex;
  }
}
